{{define "101kks/home"}}<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta http-equiv="Content-Language" content="zh-TW">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
<title>{{.Site.Title}}</title>
<meta name="keywords" content="{{.Site.Keywords}}">
<meta name="description" content="{{.Site.Description}}">
<link rel="stylesheet" type="text/css" href="/clone-css/101kks.css">
</head>
<body>
<div class="leftmenu">
<div class="menu_close_btn"><i class="iconfont icon-close"></i></div>
<div class="headuser">
<div class="headimg"><img class="user_touxiang" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48Y2lyY2xlIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIgZmlsbD0iI2M4YzhkMCIvPjxjaXJjbGUgY3g9IjE4IiBjeT0iMTQiIHI9IjUuNSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik03LDMwIFExOCwyMSAyOSwzMCBMMjksMzYgTDcsMzYgWiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==" alt=""></div>
<span>访客</span>
</div>
<div class="register">
<a href="/?view=history">閱讀記錄</a>
<a href="/?view=fulltext">完本小說</a>
</div>
<div class="menu2">
<ul>
<li><a href="{{.HomeURL}}"><i class="iconfont icon-home"></i>首頁</a></li>
{{range .NavCats}}<li><a href="{{.URL}}"><i class="iconfont icon-list1"></i>{{.name}}</a></li>{{end}}
<li><a href="/?view=history"><i class="iconfont icon-yuedujilu"></i>閱讀記錄</a></li>
</ul>
</div>
</div>

<header>
<div class="headbox clearfix">
<div class="menubtn pull-left"><i class="iconfont icon-menu"></i></div>
<div class="logo pull-left">
<div class="logoimg"></div>
<a href="{{.HomeURL}}">{{.Site.Name}}</a>
</div>
<form action="/?view=search" method="get">
<div class="search pull-left">
<i class="iconfont icon-search"></i>
<div class="inputbox">
<i class="iconfont icon-ArrowLeft"></i>
<input type="text" placeholder="請輸入搜索內容！" name="q" autocomplete="off">
</div>
</div>
</form>
<div class="user1 pull-right"><img class="user_touxiang" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48Y2lyY2xlIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIgZmlsbD0iI2M4YzhkMCIvPjxjaXJjbGUgY3g9IjE4IiBjeT0iMTQiIHI9IjUuNSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik03LDMwIFExOCwyMSAyOSwzMCBMMjksMzYgTDcsMzYgWiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==" alt=""></div>
<div class="lang pull-right">
<a href="javascript:;" class="textsel">繁體</a>
<ul>
<li><a href="javascript:;" class="zh_click">簡體</a></li>
<li><a href="javascript:;" class="zh_click">繁體</a></li>
</ul>
</div>
<div class="menu1 pull-right">
<ul>
<li><a href="{{.HomeURL}}"> 首頁</a></li>
<li><a href="/?view=fulltext"><i class="iconfont icon-ai-book"></i> 完本</a></li>
<li><a href="/?view=history"><i class="iconfont icon-yuedujilu"></i> 閱讀記錄</a></li>
</ul>
</div>
</div>
</header>

<div class="main">
<div class="container">
<div class="adbanner mybox" style="margin-bottom:0">
<div class="headerad">歡迎光臨 {{.Site.Name}}（{{.Site.Domain}}）</div>
</div>
<ul class="row">
<li class="col-update">
<div class="mybox">
<div class="xinlogo">
<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyODAiIGhlaWdodD0iNjAiPjxyZWN0IHdpZHRoPSIyODAiIGhlaWdodD0iNjAiIGZpbGw9IiMxZjZjYjIiIHJ4PSI2Ii8+PHRleHQgeD0iMTQwIiB5PSI0MCIgZm9udC1zaXplPSIyNiIgZm9udC1mYW1pbHk9InNhbnMtc2VyaWYiIGZpbGw9IiNmZmYiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtd2VpZ2h0PSJib2xkIj7lsI/or7TpmIXor7vnvZE8L3RleHQ+PC9zdmc+" alt="{{.Site.Name}}">
</div>
<div class="error-text searchBox">
<form name="articlesearch" method="get" action="/?view=search">
<input id="searchkey" class="searchinput" autocomplete="off" type="text" placeholder="請輸入書名" name="q">
<button type="submit" id="searchbtn" name="submit" value="Search"><i class="iconfont icon-search" style="font-size: 25px;"></i></button>
</form>
</div>
<div class="indexdaohang">
<ul>
<li><a href="/?view=history"><h3 class="ellipsis_1">我的書架</h3></a></li>
<li><a href="/?view=history"><h3 class="ellipsis_1">閱讀記錄</h3></a></li>
<li><a href="/?view=ranking"><h3 class="ellipsis_1">排行榜</h3></a></li>
<li><a href="/?view=fulltext"><h3 class="ellipsis_1">完本小說</h3></a></li>
</ul>
</div>
<div>
<h3 class="mytitle">熱門書單推薦</h3>
<div class="booklist-block">
<div class="booklist-grid">
{{range .TopBooks}}
<div class="booklist-card">
<a target="_blank" href="{{.URL}}" class="booklist-card-link">
<div class="booklist-card-content">
<div class="booklist-cover-section">
<div class="booklist-cover-stack">
<div class="cover-main">
{{if .cover}}<img src="{{.cover}}" alt="{{.name}}封面" class="cover-image">{{end}}
</div>
<div class="cover-count"><span>★</span></div>
</div>
</div>
<div class="booklist-info-section">
<h3 class="booklist-title">{{.name}}</h3>
<div class="booklist-meta">
<div class="meta-item"><i class="iconfont icon-chart"></i><span>{{wordCount .wordCount}}</span></div>
<div class="meta-item"><i class="iconfont icon-library"></i><span>{{.category}}</span></div>
<div class="meta-item"><i class="iconfont icon-shoujihao"></i><span>{{.author}}</span></div>
</div>
<div class="booklist-desc">
<p>{{.intro}}</p>
</div>
</div>
</div>
</a>
</div>
{{end}}
</div>
</div>

<div class="tag">
<h3 class="mytitle">小說分類</h3>
<ul>
{{range .NavCats}}<li><a href="{{.URL}}" target="_blank">{{.name}}</a></li>{{end}}
</ul>
</div>
</div>
</div>
</li>
</ul>
</div>

<div class="container">
<div class="mybox">
<h3 class="mytitle">最近更新</h3>
<div class="booklist-block">
<div class="booklist-grid">
{{range .Books}}
<div class="booklist-card">
<a target="_blank" href="{{.URL}}" class="booklist-card-link">
<div class="booklist-card-content">
<div class="booklist-cover-section">
<div class="booklist-cover-stack">
<div class="cover-main">
{{if .cover}}<img src="{{.cover}}" alt="{{.name}}封面" class="cover-image">{{end}}
</div>
<div class="cover-count"><span>{{.category}}</span></div>
</div>
</div>
<div class="booklist-info-section">
<h3 class="booklist-title">{{.name}}</h3>
<div class="booklist-meta">
<div class="meta-item"><i class="iconfont icon-shoujihao"></i><span>{{.author}}</span></div>
<div class="meta-item"><i class="iconfont icon-chart"></i><span>{{wordCount .wordCount}}</span></div>
<div class="meta-item"><i class="iconfont icon-ai-book"></i><span>{{if eq .status "completed"}}完結{{else}}連載{{end}}</span></div>
</div>
<div class="booklist-desc">
<p>{{.intro}}</p>
</div>
</div>
</div>
</a>
</div>
{{end}}
</div>
</div>
</div>
</div>
</div>

<div class="foot">
<div class="copyright">
<div>
<a href="/?view=fulltext">完本小說</a>
<a href="/?view=category">小說分類</a>
<a href="/?view=history">閱讀記錄</a>
<a href="/">全部小說</a>
</div>
<p>Copyright © {{.Site.Name}}（{{.Site.Domain}}）</p>
<div>
友情連結：<a href="/" target="_blank" title="{{.Site.Name}}">{{.Site.Name}}</a>|
<div style="clear:both;"></div>
</div>
</div>
</div>

</body>
</html>{{end}}
