{{define "shipsay/home"}}<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{if .Site.Title}}{{.Site.Title}}{{else}}{{.Site.Name}}{{end}}</title>
<meta name="keywords" content="{{.Site.Keywords}}">
<meta name="description" content="{{.Site.Description}}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/clone-css/shipsay.css">
</head>
<body>
<header>
<div class="container head">
<a id="logo" href="/">
<span>{{.Site.Name}}</span>
<p>{{.Site.Domain}}</p>
</a>
<form name="t_frmsearch" action="/?view=search" method="get" onsubmit="return !!this.querySelector('[name=q]').value">
<input type="hidden" name="view" value="search">
<input id="searchkey" name="q" class="search_input" placeholder="搜索书名或作者" autocomplete="off">
<input type="hidden" name="searchtype" value="all">
<button type="submit" id="search_btn" title="搜索"><i class="fa fa-search fa-lg"></i></button>
</form>
<div class="header_right">
<a id="home" href="/"><i class="fa fa-home fa-lg"></i><br>首页</a>
<a href="/?view=category"><i class="fa fa-book fa-lg"></i><br>书库</a>
<a href="/?view=fulltext"><i class="fa fa-coffee fa-lg"></i><br>完本</a>
<a href="/?view=history"><i class="fa fa-history fa-lg"></i><br>足迹</a>
</div>
</div>
</header>

<div class="navigation">
<nav class="container">
<a href="{{.HomeURL}}">首页</a>
{{range .NavCats}}
<a href="{{.URL}}">{{.name}}</a>
{{end}}
<div id="user_panel"></div>
</nav>
</div>

<div class="container">
<div class="side_commend side_commend_width">
<p class="title"><i class="fa fa-thumbs-o-up fa-lg">&nbsp;</i>大神小说</p>
<ul class="flex">
{{range .TopBooks}}
<li>
<div class="img_span">
<a href="{{.URL}}">
{{if .cover}}<img src="{{.cover}}" title="{{.name}}" width="120" height="160">{{end}}
</a>
<span>{{.category}} / {{if eq .status "completed"}}完结{{else}}连载{{end}}</span>
</div>
<div class="w100">
<a href="{{.URL}}"><h2>{{.name}}</h2></a>
<p class="indent">{{.intro}}</p>
<div class="li_bottom">
<a><i class="fa fa-user-circle-o">&nbsp;{{.author}}</i></a>
<div>
<em class="orange">{{wordCount .wordCount}}</em>
</div>
</div>
</div>
</li>
{{end}}
</ul>
</div>
<aside>
<p class="title"><i class="fa fa-fire fa-lg">&nbsp;</i>热门小说</p>
<ul class="popular odd">
{{range .Popular}}
<li>
<a href="{{.URL}}">{{.name}}</a>
<a class="gray">{{.author}}</a>
</li>
{{end}}
</ul>
</aside>
</div>

<div class="container">
<div class="section flex">
{{range .NavCats}}
<div class="sortvisit">
<a href="{{.URL}}">{{.name}}</a>
<ul>
{{range $.Books}}
<li>
<a href="{{.URL}}">
{{if .cover}}<img src="{{.cover}}" title="{{.name}}" width="120" height="160">{{end}}
</a>
<p>
<a href="{{.URL}}">{{.name}}</a>
<i>&nbsp;/&nbsp;{{.author}}</i>
<br>&nbsp;&nbsp;&nbsp;&nbsp;{{.intro}}
</p>
</li>
{{end}}
</ul>
</div>
{{end}}
</div>
</div>

<footer class="container">
<p><i class="fa fa-flag"></i>&nbsp;<a href="{{.HomeURL}}">{{.Site.Name}}</a>&nbsp;书友最值得收藏的网络小说阅读网</p>
<p>本站所有小说为完本转载作品，所有内容版权归版权方或原作者所有。</p>
</footer>

</body>
</html>{{end}}
